@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #111111;
    margin: 0 5%;

}

h1 {
    font-size: 3rem;
    text-align: center;
    background: linear-gradient(120deg, #8e2de2, #4a00e0, #007FE0);
    background-size: 400%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    -webkit-animation: TextColorAnimation 7s ease-in-out infinite;
    -moz-animation: TextColorAnimation 7s ease-in-out infinite;
    animation: TextColorAnimation 7s ease-in-out infinite;
}

@keyframes shine {
    to {
      background-position: 200% center;
    }
}


@-webkit-keyframes TextColorAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes TextColorAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes TextColorAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

img {
    width: 80%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}


.card {
    grid-area: image;
    background-color: #191919;
    border-radius: 1em;
    padding-top: 5%;
    padding-bottom: 5%;
}

.project-card {
    background-color: #191919;
    border-radius: 1em;
    padding-top: 2%;
    padding-bottom: 2%;
}
section {
    text-align: end;
    margin-top: 2em;
}

section h2 {
    margin-top: 0.2em;
    padding: 0 10%;
    font-size: 2.5em;
}

section h5 {
    padding: 0 10%;
    margin-bottom: 0;
    color: #9C9C9C;
}

section img{
    border-radius: 1em;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 730px) {

    body {
        margin: 0 5%;
    }

    h1 {
        font-size: 3.5rem;
    }

}

@media (min-width: 930px) {

    .right-col {
        text-align: left;
        grid-area: content;
    }

    .card {
        grid-area: image;
    }


}

@media (min-width: 1200px) { 
    body {
        margin: 0 10%;
    }

    h1 {
        font-size: 4rem;
    }
}

@media (min-width: 1400px) { 
    body {
        margin: 0 15%;
    }
    h1 {
        font-size: 4.5rem;
    }
}

@media (min-width: 2200px) { 
    body {
        margin: 0 20%;
    }

    h1 {
        font-size: 5rem;
    }
}

a {
    text-decoration: none;
}

a:visited {
    color: white;
}

h3 {
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 1em;
    text-align: left;
    font-size: 2em;
}

p {
    text-align: left;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 1.2em;
}

h4 {
    text-align: left;
    margin-left: 15%;
}